@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

body {
  font-family: "TWNK Lausanne" "Inter", sans-serif;
  overflow-x: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  color: #fff;
  font-size: 7rem;
  font-weight: 400;
  letter-spacing: -0.2rem;
  line-height: 1;
}

a,
p {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  user-select: none;
}

nav {
  position: fixed;
  padding: 2.5rem;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.logo a {
  font-weight: 600;
}

.menu-toggle {
  @apply relative w-[3rem] h-[1.5rem] cursor-pointer;
}

.menu-toggle p {
  position: absolute;
  transform-origin: top left;
  will-change: transform, opacity;
}

.menu-overlay {
  @apply fixed w-[100vw] h-[100vh] z-1 bg-[#0f0f0f];
}

.menu-content {
  @apply relative flex justify-center items-center w-full h-full;
  transform-origin: left bottom;
  will-change: transform, opacity;
}

.menu-items,
.menu-footer {
  @apply flex p-[2.5em] w-full gap-[2.5em];
}

.col-lg {
  flex: 3;
}

.col-sm {
  flex: 2;
}

.menu-items .col-lg {
  @apply flex justify-center items-center;
}

.menu-preview-img {
  @apply w-[45%] h-[100%] relative overflow-hidden;
}

.menu-preview-img img {
  position: absolute;
  will-change: transform, opacity;
}

.menu-items .col-sm {
  @apply flex flex-col gap-[2.5em] py-[2.5em];
}

.menu-links .menu-socials {
  @apply flex flex-col gap-[.5em];
}

.link,
.social {
  padding-bottom: 6px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.link a,
.social a {
  display: inline-block;
  will-change: transform;
  transition: color 0.5s;
}

.link a {
  font-size: 3.5rem;
  letter-spacing: -0.02rem;
}

.social a {
  color: #8f8f8f;
}

.social a:hover {
  color: #fff;
}

.menu-footer {
  position: absolute;
  bottom: 0;
}

.menu-footer .col-sm {
  display: flex;
  justify-content: space-between;
}

.link a::after,
.social a::after,
.menu-footer a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 102.5%;
  left: 0;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s cubic-bezier(0.6, 0, 0.4, 1);
}

.link a:hover::after,
.social a:hover::after,
.menu-footer a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.container {
  @apply relative w-full h-full;
  will-change: transform;
  transform-origin: right top;
}

.hero {
  @apply relative w-[100vw] h-[100vh] flex items-end overflow-hidden p-[2.5em];
}

.hero-img {
  @apply absolute top-0 left-0 w-full h-[100svh] -z-1;
}
.hero h1 {
  width: 80%;
}

.menu-toggle p#menu-close {
  opacity: 0;
  transform: translateX(-5px) translateY(10px) rotate(5deg);
}

.link a,
.social a {
  transform: translateY(120%);
  opacity: 0.25;
}

.menu-content {
  transform: translateX(-100px) translateY(-100px) scale(1.5) rotate(-15deg);
  opacity: 0.25;
}

.menu-overlay {
  clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
}

@media (max-width: 900px) {
  .hero h1 {
    width: 100%;
    font-size: 4rem;
    letter-spacing: -0;
  }

  .menu-items .col-lg {
    display: none;
  }

  .link a::after,
  .social a::after .menu-footer a::after {
    display: none;
  }
}
